.plans {
    text-align: center;
    padding-top: 60px;
}

.plans .cards{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.plans .discount {
    display: flex;
    justify-content: end;
    align-items: center;
}
.plans small {
    padding: 12px 0;
    font-size: 14px;
    font-weight: 300;
}